version: '3.8'

services:
  app:
    restart: always
    build:
      .
    ports:
      - "8080:8080"
    depends_on:
      - assignment_db


  assignment_db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: assignment
    ports:
      - "5432:5432"
